input{
  padding: 1rem;
  border: 1px solid rgba(var(--main-teal-green), .3);
  outline: none;

  background-color: #fff;
  border-radius: 10px;

  box-shadow: .25rem .25rem 15px rgba(0, 0, 0, .15);
}

@media screen and (max-width: 768px){
  input{
    box-shadow: none;
  }
}