@import "product-card"
@import "products-nav"
@import "product-price"

.product

    &-main
        display: flex

        &-left
            margin-right: 2rem

    &-lists

        &-container
            display: grid
            grid-template-columns: repeat(3, 1fr)
            gap: 1rem
