.profilePage {
    .container {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        gap: 2rem;

        & > * {
            padding: 2rem;

            background-color: rgba(var(--main-white), 1);
        }
    }

    .profileInfo {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        &-top {
            img {
                border-radius: 100%;
                object-fit: cover;
                object-position: center;
                aspect-ratio: 1;
            }
        }
    }

    .profileStatus {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .allStatuses {
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        .statusesHeader {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5rem;

            .statusesSearch {
                flex-grow: 1;
                input {
                    width: 100%;
                }
            }
        }

        .statusesList {
            padding-block: 1rem;
            padding-right: 1rem;
            max-height: 80vh;
            overflow-y: scroll;
        }

        .statusItem {
            display: grid;
            grid-template-columns: min-content repeat(3, 1fr) auto;
            align-items: center;
            gap: 1rem;

            button {
                padding: 0.5rem 1rem;

                color: #ffffff;
                background-color: rgba(var(--main-teal-green), 1);
                border: none;
                border-radius: 50px;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                transition: all 0.25s ease-in-out;

                &:hover {
                    cursor: pointer;
                    background-color: #fff;
                    color: #000;
                }
            }
        }
    }
}
