@import "cart-modal"

.cart-page

    &-count
        margin-right: 2rem

    &-header
        display: flex
        justify-content: space-between
        align-items: center

        &-container
            display: flex
            justify-content: space-between
            align-items: center

    ul
        display: grid
        grid-template-columns: repeat(3, 1fr)

        gap: 2rem

.cart-card-el
    display: flex
    justify-content: flex-start
    align-items: stretch

.product-card
    position: relative
    box-shadow: 0.5rem 0.5rem 10px rgba(0, 0, 0, 0.1)

    &:hover &__delete_button
        opacity: 1

    &__delete_button
        width: 2.5rem
        height: 2.5rem

        position: absolute

        right: 1.5rem
        top: 1.5rem

        cursor: pointer

        opacity: 0

        transition: all 0.3s

    .product-card-price
        text-align: center
