.header {
  padding: 1rem 0;

  background-color: #333;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &-logo {
    width: min-content;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    img{
      width: 128px;
    }
  }

  &-links{
    flex-grow: 1;

    ul{
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;

      li{
        a{
          display: flex;
          align-items: center;
          justify-content: center;


          text-decoration: none;
          color: #fff;

          &.active{
            font-weight: 700;
          }

          &:hover{

          }
        }
      }
    }
  }
}