.header {
    padding: 1rem 0;
    background-color: #319795;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

/* ---- */

.header-logo {
    width: min-content;
}

.header-logo a {
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: #000;
}

.header-logo img {
    width: 64px;
}

/* ---- */

.header-links {
    flex-grow: 1;
}

.header-links ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.header-links a {
    display: flex;
    align-items: center;
    justify-content: center;


    text-decoration: none;
    color: #fff;
}


.header-links a.active {
    font-weight: 700;
}

/* ---- */

.header-account ul{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
}

.header-account img{
    width: 64px;
}

.header-account li:nth-of-type(2) img{
    border-radius: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}