html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--main-teal-green), .7);
  transition: all .5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--main-teal-green), 1);
}

:root{
  --main-teal-green: 49, 151, 149;
  --main-white: 255, 255, 255;
  --main-grey: 237, 242, 247;
  --main-blue: 9, 58, 80;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
